.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
}
.logo{
 width : 200px;
}
.nav-items > ul{
    display: flex;
    list-style: none;
    padding: 0px 100px;
    font-size: 25px;
}
.nav-items > ul > li{
    padding: 10px;
}

.search{
padding: 10px;
}

.res-card {
    width: 200px;
    height: 400px;
    padding: 2px;
    margin: 5px;
    background-color: #f0f0f0;
}

div .res-card:hover {
    cursor: pointer;
    border: 1px solid #000;
}

.res-logo{
width: 100%;
height: 30%;
}

.filter{
    margin: 10px;
    display: flex;
}

.filter-btn{
    padding: 0px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-card{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 20px;
   width: 200px;
   height: 400px;
   background-color: #f0f0f0;
}

.login-btn{
    padding: 5px 10px;
}
